<header class="row white shadow">
    <h3 class="colorize">HealthPro
        <img class="logo" src="/favicon.ico" alt="logo">
    </h3>
    
    <nav class="row center">
        @let role = this.role | async;
        @if (role == "admin") {
            @for (page of ['appointments', 'patients', 'doctors', 'dashboard']; track $index) {
                <a routerLink="{{role}}/{{page}}">{{page | titlecase}}</a>
            }
        }
        @else if (role == "doctor") {

        }
        <button class="colorize" (click)="logOut()">Log Out</button>
    </nav>
</header>