<div class="container mt-4">
  @if (isLoading) {
    <p>Loading patients...</p>
  } @else if (patients.length == 0) {
    <p>No Patients To Show.</p>
  } @else {
        <div class="doctors-grid">

      @for (patient of patients; track patient.id) {
        <div class="doctor-card white card" >
          <div class="d-flex flex-row align-items-center">
            <div class="m-2">
                <h3 class="colorize">{{ patient.name }}</h3>
                <p class="specialization">{{ patient.email }}</p>
                <p class="specialization">{{ patient.phone }}</p>
                @if (patient.deactivated) {
              <p><span class="badge bg-secondary">Inactive</span></p>
              
              <button class="btn btn-danger" (click)="activatePatient(patient.id)">
                Activate
              </button>
            } @else {
              <p><span class="badge bg-success">Active</span></p>
              <button class="btn btn-danger" (click)="deactivatePatient(patient.id)">
                Deactivate
              </button>
            }
            </div> 
          </div>

        </div>
      }
    </div>
    }
  </div>
