<div class="container mt-4">
  @if (isLoading) {
    <p>Loading patients...</p>
  } @else if (patients.length == 0) {
    <p>No Patients To Show.</p>
  } @else {
        <div class="doctors-grid">

      @for (patient of patients; track patient.id) {
        <div class="doctor-card" >
          <div class="d-flex flex-row align-items-center">
            <div class="m-2">
                <h3 class="colorize">{{ patient.name }}</h3>
                <p class="specialization">{{ patient.email }}</p>
                <p class="specialization">{{ patient.phone }}</p>
            </div> 
          </div>

        </div>
      }
    </div>
    }
  </div>
